.container {
	width: 100%;
	min-height: 100vh;
	background-color: #ffcd03;
	display: flex;
	padding-top: 50px;
	padding-bottom: 100px;
	flex-direction: column;
}
.section_label {
	font-size: 50px;
	font-weight: 900;
	border-bottom: 5px solid #000000;
	align-self: center;
	margin: 50px;
}

.experience {
	width: 100%;
	display: flex;

	div:nth-child(1),
	div:nth-child(3) {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 50%;
	}
	div:nth-child(1) > div {
		padding: 30px;
		display: flex;
		align-self: flex-end;
		flex-direction: column;
		align-items: flex-end;
	}
	div:nth-child(3) > div {
		align-self: flex-start;
		padding: 30px;
	}
	div:nth-child(2) {
		width: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		div:nth-child(1) {
			position: absolute;
			width: 4px;
			height: 100%;
			background-color: #000000;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		div:nth-child(2) {
			position: absolute;
			width: 15px;
			height: 15px;
			background-color: #000000;
			border-radius: 100%;
		}
	}
}
